body {
  min-height: 100vh;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: rgb(156, 156, 156);
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ol {
  font-weight: bold;
}

.jumbotron {
  background-image: url("./foodbkgd.jpg");
  background-size: cover;
  background-position: center;
  opacity: 80;
  border-radius: 5px;
  box-shadow: 0px 10px rgb(83, 83, 83);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headerh1 {
  font-size: 3rem;
  font-weight: bold;
}

.headerpara {
  font-weight: bold;
  font-size: 2rem;
}
